html,body{color:#000;background:#efefef;font-family:'Microsoft YaHei',Arial,'Helvetica Neue','SimSun';font-size:14px}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
legend{color:#000}
ol,ul{list-style:none}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
th,address,cite,code,dfn,var,em,strong{font-style:normal;font-weight:normal}
input,textarea,select,input:focus{font-family:inherit;font-size:inherit;*font-size:100%;font-weight:inherit;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-user-modify:read-write-plaintext-only}
a{text-decoration:none}
a:link{}
a:hover{}
a:visited{}
a:focus{outline:none}
.clearfix:after{content:"\200B";display:block;height:0;clear:both}
.clearfix{*zoom:1}
